<html>
<head>
    <link rel="stylesheet" href="static/css/product.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
</head>
<body>
<div class="modern-form">
    <h3>Registre o produto</h3>
<form action="/product/registrar" id="info" name="info" method = "POST">
  <fieldset class='float-label-field'>
    <label for="product_name">Nome Produto</label>
    <input id="product_name" name="product_name" type='text'>
  </fieldset>
  <fieldset class='float-label-field'>
    <label for="txt_descricao" >Descrição</label>
    <input id="txt_descricao" name="txt_descricao" type='text'>
  </fieldset>
 <fieldset class='float-label-field'>
    <label for="num_valor">Valor</label>
    <input id="num_valor" name="num_valor" type='text'>
  </fieldset>
  <fieldset class='float-label-field'>
    <label for="num_qtd">Quantidade</label>
    <input id="num_qtd" name="num_qtd" type='text'>
  </fieldset>
    <input type = "submit" value = "Enviar" />
</form>
  <div class="col-12"></div>
  </div>

<script src="static/js/main.js" /></script>
</body>
</html>
