<html>
<head>
    <link rel="stylesheet" href="static/css/product.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
</head>
<body>
<form action="/product/regis_ingredientes" id="info" name="info" method = "POST">
<div class="modern-form">
    <h3>Registre o produto</h3>
    <label for="txtProduto">Qual Produto associar?</label>
    <select id="txtProduto" name=txtProduto">
        <option selected>Selecione o produto</option>
        {% for item in registered %}
        {{produto_array[produto].get('name')}}
        <option value="{{produto_array[produto].get('name')}}">{{produto_array[produto].get('name')}}</option>
    </select>
  <fieldset class='float-label-field'>
    <label for="txtName">Nome Ingrediente</label>
    <input id="txtName" name='txtName' type='text'>
  </fieldset>

  <fieldset class='float-label-field'>
    <label for="txtQtd">Quantidade</label>
    <input id="txtQtd" name='txtQtd' type='number'>
  </fieldset>
    <input type = "submit" value = "Enviar" />
</form>
  <div class="col-12"></div>
  </div>

<script src="static/js/main.js" /></script>
</body>
</html>
